/**** Project 3 ****/

/************** Start of CSS ****************/
.iframeContainer {
  padding: 1px;
  border: 1px solid #e3e3e3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */

  background:#f2f2f2;
}

.nav_images {
    
    padding-left:15px;
    padding-right:15px;
  
  }
/* Navbar - top of the page */
.navbar {

    border: 20px solid yellow;
  
    border-image: url("../images/reelC.jpeg")30;
    border-image-repeat: stretch;
    
    border-top:0;
border-left:0;
border-right:0;
  }
  .navbar .navbar-brand {
    background: #ffff4d;
  
    border-color:  #ff5c33; 
    border-width: 5px;
    border-style:groove;

  }
  
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    
    background:   #ff5c33;
    border-color: #ffff4d; 


  }
  /*the container must be positioned relative:*/
  
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: transparent; 
  }
  #myInput {

    width: 100%;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
 

ul {
  padding-left: 0;
  list-style-type: none;
  
}

  /* The footer is positioned at the bottom of the page */
footer {
  position: absolute;
  visibility: visible;
  padding: 10px;
  left: 0;
  bottom: -50px;
  height: 60px;
  background-color: #8c8c8c;
  
  text-align: center;
  width: 100%;
  
  border-top: 20px;
  border-top-color: #00ffff;
  border-width: 10px;
  border-top-style: solid;
  border-image: url("../images/reelC.jpeg")30;
  border-image-repeat: stretch;
  
  border-bottom:0;
border-left:0;
border-right:0;
}


/* This CSS styles: Add margin to the top */
.margin-top-30 {
  margin-top: 30px;
}
#scatter{
  padding: 20px;
  background-color: beige;
}


/************** End of CSS ****************/