/**** Unit 16 | Assignment - Data Journalism and D3: Start of d3 style CSS ****/
.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.axis-text {
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #004d4d;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: red;
  cursor: pointer;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
}

.stateCircle {
  fill: #89bdd3;
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #004d4d;
  border: 0;
  border-radius: 10px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}

/************** End of CSS ****************/