<!-- Project 3: imdb-dashboard -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- All meta tags should be first in the header-->
  <meta charset="UTF-8">
  <title>Project 3: imdb-dashboard </title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- Bootstrap links -->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="static/css/bootstrap_simplex.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  <!--The following uses data URI and can be used to avoid fake favicon requests:-->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <!-- css Style Scripts <link rel="stylesheet" href="../static/css/d3Style.css">-->
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="../static/images/tv.png" class="img-responsive nav_images" ml-auto onmouseover="this.src ='/static/images/tv1.png'"
        onmouseout="this.src = 'static/images/tv.png'" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/featured">Featured</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End of the Navigation bar-->
  <div class="wrapper">
    <div class="container margin-top-30">
      <!-- main body -->
      <h1>About</h1>

      <div class="row ">
        <div class="col-md-12">
          <p>This project was inspired by a YouTube documentary titled "The Fall of the Simpsons". In particular, a
            figure which trends the average IMDB user rating of each Simpsons espisode over time. We started to wonder
            what else could be done with IMDB data. The answer is a lot! Too much in fact. To limit scope, we selected
            26 TV series similar to the Simpsons and built a dashboard around the idea of the figures below. Users can
            add
            up to seven series to the trend and look for patterns and interactions.
          </p>
          <p>
            The project uses two sources of data. First, the <a href="https://www.imdb.com/interfaces/">.tsv files</a> which IMDB releases nightly. These
            contain a subset of the actual IMDB database. Second, the <a href="https://imdbpy.sourceforge.io/">IMDbPy</a>
            package was used for information not
            not available in the .tsv files. The site is powered by an Amazon RDS MySQL instance and heroku running a
            python Flask
            application on the back end. On the front end, we used plotly.js to render most of the figures.
          </p>
        </div>
      </div>
      </br>
      <div class="row ">
        <div class="col-md-12">
          <img src="../static/images/Fall_of_the_Simpsons_Episode_Ratings.PNG">
        </div>
      </div>
      </br>
      <div class="row ">
        <div class="col-md-12">
          <p>Many fans consider the turning point for the series to be an episode titled "The Principal and the Pauper"
            from season 8. Actor Harry Shearer has referred to it as "a horrible mistake". Episodes more recent than
            season 8 are
            often referred to as "Zombie Simpsons", implying the show has become a lifeless shell of its former self.
          </p>
        </div>
      </div>
      </br>
      <div class="row ">
        <div class="col-md-12">
          <img src="../static/images/Zombie_Simpsons.PNG">
        </div>
      </div>
    </div>
  </div>


  <footer>
    <!-- Copyright -->
    <p>
      Project 3 | <i class="far fa-copyright"></i> Copyright 2019:
    </p>
  </footer>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>

</body>

</html>
<!------------ End of HTML ---------------->