<!-- Project 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- All meta tags should be first in the header-->
  <meta charset="UTF-8">
  <title>Project 3</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- Bootstrap links -->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="../static/css/bootstrap_simplex.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <!--The following uses data URI and can be used to avoid fake favicon requests:-->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <!-- css Style Scripts <link rel="stylesheet" href="../static/css/d3Style.css">-->
  <link rel="stylesheet" href="../static/css/style.css?v=01252019">


</head>

<body>

  <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="../static/images/tv.png" class="img-responsive nav_images" ml-auto onmouseover="this.src ='../static/images/tv1.png'"
        onmouseout="this.src = '../static/images/tv.png'" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/featured">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/API">API</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="wrapper">
    <div class="container margin-top-30">
      <!-- main body -->
      <H1>Featured</H1>
      <div id="featured-chart1"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis, diam vel mollis dapibus, lectus lacus venenatis diam, in placerat sem ex mollis erat. Etiam ac venenatis dui. Duis egestas velit nec semper viverra. Maecenas posuere nunc sed purus efficitur semper. Vivamus vulputate tristique posuere. Proin ut elit eros. Cras non leo eu purus pulvinar aliquam eget nec purus. Suspendisse mollis accumsan erat, vel semper elit malesuada vel. Cras lectus ex, gravida eu arcu vel, molestie tincidunt ante. Duis non dolor metus. Sed mattis consectetur metus, a ornare arcu aliquet a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec facilisis felis in felis dignissim, ac porta arcu vulputate.</p>
    </div>
  </div>
  <footer>
    <p>
      Project 3 | <i class="far fa-copyright"></i> Copyright 2019:
    </p>
  </footer>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/featured_plots.js"></script>

</body>

</html>
<!------------ End of HTML ---------------->