<!-- Project 3: imdb-dashboard -->
<!-- featured.html: The featured page for the website -->
<!--############################################################-->
<!DOCTYPE html>
<html lang="en">
<!--########################### Header #################################-->

<head>
  <!-- All meta tags should be first in the header-->
  <meta charset="UTF-8">
  <title>Project 3: imdb-dashboard </title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <!-- Bootstrap links -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="static/css/bootstrap_simplex.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  <!--The following uses data URI and can be used to avoid fake favicon requests:-->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <!-- css Style Scripts-->
  <link rel="stylesheet" href="static/css/style.css">
</head>
<!--########################### Body for html #################################-->

<body>
  <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="../static/images/tv.png" class="img-responsive nav_images" ml-auto onmouseover="this.src ='/static/images/tv1.png'"
        onmouseout="this.src = 'static/images/tv.png'" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/featured">Featured</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End of the Navigation bar-->
  <!--------------------------------------------------------->
  <!-- Start of Main container-->
  <div class="wrapper">
    <div class="container margin-top-30">
      <!-- main body -->
      <H1>Featured</H1>

      <p>Here are some views of the data we found interesting. Enjoy!</p>
      <br>

      <!-- Word cloud -->

      <div class="row ">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">


          <svg width="960" height="600" version="1.1" xmlns="http://www.w3.org/2000/svg" class="highlight">
            <g></g>
            <g transform="translate(480,300)scale(1,1)"><text text-anchor="middle" transform="translate(-95,47)rotate(-29.999999999999993)"
                style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);">Open</text><text text-anchor="middle"
                transform="translate(217,262)rotate(29.999999999999993)" style="font-size: 26px; font-family: Impact; fill: rgb(206, 219, 156);">Run</text><text
                text-anchor="middle" transform="translate(-232,-194)rotate(0)" style="font-size: 36px; font-family: Impact; fill: rgb(165, 81, 148);">One</text><text
                text-anchor="middle" transform="translate(-19,-68)rotate(0)" style="font-size: 62px; font-family: Impact; fill: rgb(82, 84, 163);"></text><text
                text-anchor="middle" transform="translate(-184,-118)rotate(0)" style="font-size: 99px; font-family: Impact; fill: rgb(107, 110, 207);">Homer</text><text
                text-anchor="middle" transform="translate(-79,49)rotate(60)" style="font-size: 91px; font-family: Impact; fill: rgb(156, 158, 222);">Lisa</text><text
                text-anchor="middle" transform="translate(12,-111)rotate(30)" style="font-size: 90px; font-family: Impact; fill: rgb(99, 121, 57);">Bart</text><text
                text-anchor="middle" transform="translate(201,-128)rotate(-60)" style="font-size: 90px; font-family: Impact; fill: rgb(140, 162, 82);">Horror</text><text
                text-anchor="middle" transform="translate(174,53)rotate(-60)" style="font-size: 90px; font-family: Impact; fill: rgb(181, 207, 107);">Treehouse</text><text
                text-anchor="middle" transform="translate(-84,167)rotate(0)" style="font-size: 78px; font-family: Impact; fill: rgb(206, 219, 156);">Marge</text><text
                text-anchor="middle" transform="translate(-211,47)rotate(30)" style="font-size: 75px; font-family: Impact; fill: rgb(140, 109, 49);">Simpson</text><text
                text-anchor="middle" transform="translate(87,2)rotate(30)" style="font-size: 71px; font-family: Impact; fill: rgb(189, 158, 57);">vs</text><text
                text-anchor="middle" transform="translate(260,10)rotate(60)" style="font-size: 71px; font-family: Impact; fill: rgb(231, 186, 82);">Love</text><text
                text-anchor="middle" transform="translate(-250,127)rotate(0)" style="font-size: 69px; font-family: Impact; fill: rgb(231, 203, 148);">Gets</text><text
                text-anchor="middle" transform="translate(-341,-32)rotate(-60)" style="font-size: 69px; font-family: Impact; fill: rgb(132, 60, 57);">Burns</text><text
                text-anchor="middle" transform="translate(277,140)rotate(-30)" style="font-size: 67px; font-family: Impact; fill: rgb(173, 73, 74);">Springfield</text><text
                text-anchor="middle" transform="translate(-124,220)rotate(0)" style="font-size: 64px; font-family: Impact; fill: rgb(214, 97, 107);">Simpsons</text><text
                text-anchor="middle" transform="translate(17,58)rotate(60)" style="font-size: 64px; font-family: Impact; fill: rgb(231, 150, 156);">Little</text><text
                text-anchor="middle" transform="translate(309,-13)rotate(60)" style="font-size: 62px; font-family: Impact; fill: rgb(123, 65, 115);">Two</text><text
                text-anchor="middle" transform="translate(-111,-37)rotate(-60)" style="font-size: 62px; font-family: Impact; fill: rgb(165, 81, 148);">Barts</text><text
                text-anchor="middle" transform="translate(-328,165)rotate(30)" style="font-size: 62px; font-family: Impact; fill: rgb(206, 109, 189);">Lisas</text><text
                text-anchor="middle" transform="translate(-327,-195)rotate(-30)" style="font-size: 62px; font-family: Impact; fill: rgb(222, 158, 214);">Episode</text><text
                text-anchor="middle" transform="translate(28,-216)rotate(60)" style="font-size: 59px; font-family: Impact; fill: rgb(57, 59, 121);">Clown</text><text
                text-anchor="middle" transform="translate(-178,-206)rotate(30)" style="font-size: 59px; font-family: Impact; fill: rgb(82, 84, 163);">Last</text><text
                text-anchor="middle" transform="translate(352,-111)rotate(-30)" style="font-size: 59px; font-family: Impact; fill: rgb(107, 110, 207);">Great</text><text
                text-anchor="middle" transform="translate(-31,-58)rotate(60)" style="font-size: 59px; font-family: Impact; fill: rgb(156, 158, 222);">Man</text><text
                text-anchor="middle" transform="translate(-308,68)rotate(-30)" style="font-size: 56px; font-family: Impact; fill: rgb(99, 121, 57);">Girl</text><text
                text-anchor="middle" transform="translate(349,-206)rotate(30)" style="font-size: 56px; font-family: Impact; fill: rgb(140, 162, 82);">Homers</text><text
                text-anchor="middle" transform="translate(-188,-32)rotate(0)" style="font-size: 56px; font-family: Impact; fill: rgb(181, 207, 107);">Mr</text><text
                text-anchor="middle" transform="translate(-350,213)rotate(30)" style="font-size: 56px; font-family: Impact; fill: rgb(206, 219, 156);">Goes</text><text
                text-anchor="middle" transform="translate(225,89)rotate(0)" style="font-size: 56px; font-family: Impact; fill: rgb(140, 109, 49);">Boy</text><text
                text-anchor="middle" transform="translate(113,-208)rotate(30)" style="font-size: 56px; font-family: Impact; fill: rgb(189, 158, 57);">Wife</text><text
                text-anchor="middle" transform="translate(255,208)rotate(60)" style="font-size: 52px; font-family: Impact; fill: rgb(231, 186, 82);">Like</text><text
                text-anchor="middle" transform="translate(395,-50)rotate(-60)" style="font-size: 52px; font-family: Impact; fill: rgb(231, 203, 148);">Old</text><text
                text-anchor="middle" transform="translate(351,173)rotate(0)" style="font-size: 52px; font-family: Impact; fill: rgb(132, 60, 57);">New</text><text
                text-anchor="middle" transform="translate(268,-166)rotate(60)" style="font-size: 52px; font-family: Impact; fill: rgb(173, 73, 74);">Day</text><text
                text-anchor="middle" transform="translate(358,224)rotate(0)" style="font-size: 52px; font-family: Impact; fill: rgb(214, 97, 107);">Star</text><text
                text-anchor="middle" transform="translate(-118,-228)rotate(30)" style="font-size: 52px; font-family: Impact; fill: rgb(231, 150, 156);">Yellow</text><text
                text-anchor="middle" transform="translate(-383,-101)rotate(-30)" style="font-size: 52px; font-family: Impact; fill: rgb(123, 65, 115);">Mad</text><text
                text-anchor="middle" transform="translate(399,24)rotate(60)" style="font-size: 52px; font-family: Impact; fill: rgb(165, 81, 148);">Moe</text><text
                text-anchor="middle" transform="translate(197,236)rotate(-30)" style="font-size: 48px; font-family: Impact; fill: rgb(206, 109, 189);">Im</text><text
                text-anchor="middle" transform="translate(-389,105)rotate(-60)" style="font-size: 48px; font-family: Impact; fill: rgb(222, 158, 214);">Cant</text><text
                text-anchor="middle" transform="translate(-387,-223)rotate(-30)" style="font-size: 48px; font-family: Impact; fill: rgb(57, 59, 121);">Fish</text><text
                text-anchor="middle" transform="translate(68,250)rotate(0)" style="font-size: 48px; font-family: Impact; fill: rgb(82, 84, 163);">Blue</text><text
                text-anchor="middle" transform="translate(406,137)rotate(0)" style="font-size: 48px; font-family: Impact; fill: rgb(107, 110, 207);">War</text><text
                text-anchor="middle" transform="translate(229,39)rotate(0)" style="font-size: 48px; font-family: Impact; fill: rgb(156, 158, 222);">Fat</text><text
                text-anchor="middle" transform="translate(382,-261)rotate(0)" style="font-size: 48px; font-family: Impact; fill: rgb(99, 121, 57);">Dont</text><text
                text-anchor="middle" transform="translate(182,-264)rotate(0)" style="font-size: 42px; font-family: Impact; fill: rgb(140, 162, 82);">Krusty</text><text
                text-anchor="middle" transform="translate(38,-52)rotate(30)" style="font-size: 42px; font-family: Impact; fill: rgb(181, 207, 107);">Art</text><text
                text-anchor="middle" transform="translate(-43,-240)rotate(60)" style="font-size: 42px; font-family: Impact; fill: rgb(206, 219, 156);">Dad</text><text
                text-anchor="middle" transform="translate(-237,-79)rotate(0)" style="font-size: 42px; font-family: Impact; fill: rgb(140, 109, 49);">Apu</text><text
                text-anchor="middle" transform="translate(-172,257)rotate(0)" style="font-size: 42px; font-family: Impact; fill: rgb(189, 158, 57);">Mother</text><text
                text-anchor="middle" transform="translate(-390,254)rotate(0)" style="font-size: 42px; font-family: Impact; fill: rgb(231, 186, 82);">Family</text><text
                text-anchor="middle" transform="translate(-173,-84)rotate(0)" style="font-size: 36px; font-family: Impact; fill: rgb(231, 203, 148);">Life</text><text
                text-anchor="middle" transform="translate(171,119)rotate(-60)" style="font-size: 36px; font-family: Impact; fill: rgb(132, 60, 57);">Dog</text><text
                text-anchor="middle" transform="translate(-415,58)rotate(-60)" style="font-size: 36px; font-family: Impact; fill: rgb(173, 73, 74);">Kid</text><text
                text-anchor="middle" transform="translate(61,-19)rotate(-60)" style="font-size: 36px; font-family: Impact; fill: rgb(214, 97, 107);">N</text><text
                text-anchor="middle" transform="translate(321,-179)rotate(30)" style="font-size: 36px; font-family: Impact; fill: rgb(231, 150, 156);">Bob</text><text
                text-anchor="middle" transform="translate(-396,-44)rotate(-60)" style="font-size: 36px; font-family: Impact; fill: rgb(123, 65, 115);">King</text><text
                text-anchor="middle" transform="translate(415,-88)rotate(30)" style="font-size: 36px; font-family: Impact; fill: rgb(165, 81, 148);">Baby</text><text
                text-anchor="middle" transform="translate(-412,-260)rotate(-30)" style="font-size: 36px; font-family: Impact; fill: rgb(206, 109, 189);">Ever</text><text
                text-anchor="middle" transform="translate(219,-3)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(222, 158, 214);">1</text><text
                text-anchor="middle" transform="translate(124,-129)rotate(-30)" style="font-size: 26px; font-family: Impact; fill: rgb(57, 59, 121);">2</text><text
                text-anchor="middle" transform="translate(-243,-51)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(82, 84, 163);">22</text><text
                text-anchor="middle" transform="translate(-40,250)rotate(-30)" style="font-size: 26px; font-family: Impact; fill: rgb(107, 110, 207);">Just</text><text
                text-anchor="middle" transform="translate(25,270)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(156, 158, 222);">Theres</text><text
                text-anchor="middle" transform="translate(-248,70)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(99, 121, 57);">Fast</text><text
                text-anchor="middle" transform="translate(132,231)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(140, 162, 82);">Lane</text><text
                text-anchor="middle" transform="translate(85,31)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(181, 207, 107);">F</text><text
                text-anchor="middle" transform="translate(26,122)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(206, 219, 156);">Dead</text><text
                text-anchor="middle" transform="translate(121,-156)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(140, 109, 49);">Car</text><text
                text-anchor="middle" transform="translate(234,229)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(189, 158, 57);">Principal</text><text
                text-anchor="middle" transform="translate(416,-38)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(231, 186, 82);">Oh</text><text
                text-anchor="middle" transform="translate(-430,177)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(231, 203, 148);">Thou</text><text
                text-anchor="middle" transform="translate(422,193)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(132, 60, 57);">Money</text><text
                text-anchor="middle" transform="translate(94,272)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(173, 73, 74);">Book</text><text
                text-anchor="middle" transform="translate(-69,-64)rotate(-60)" style="font-size: 26px; font-family: Impact; fill: rgb(214, 97, 107);">Lover</text><text
                text-anchor="middle" transform="translate(160,270)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(231, 150, 156);">Kamp</text><text
                text-anchor="middle" transform="translate(-268,248)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(123, 65, 115);">Movie</text><text
                text-anchor="middle" transform="translate(212,114)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(165, 81, 148);">Job</text><text
                text-anchor="middle" transform="translate(-84,252)rotate(-60)" style="font-size: 26px; font-family: Impact; fill: rgb(206, 109, 189);">First</text><text
                text-anchor="middle" transform="translate(-335,18)rotate(-60)" style="font-size: 26px; font-family: Impact; fill: rgb(222, 158, 214);">Exit</text><text
                text-anchor="middle" transform="translate(242,-157)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(57, 59, 121);">Clip</text><text
                text-anchor="middle" transform="translate(327,266)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(82, 84, 163);">Learned</text><text
                text-anchor="middle" transform="translate(253,-238)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(107, 110, 207);">Stop</text><text
                text-anchor="middle" transform="translate(421,254)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(156, 158, 222);">Knew</text><text
                text-anchor="middle" transform="translate(-217,152)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(99, 121, 57);">Lady</text><text
                text-anchor="middle" transform="translate(-267,-278)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(140, 162, 82);">Marriage</text><text
                text-anchor="middle" transform="translate(77,-279)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(181, 207, 107);">Land</text><text
                text-anchor="middle" transform="translate(-334,-154)rotate(-30)" style="font-size: 26px; font-family: Impact; fill: rgb(206, 219, 156);">Ice</text><text
                text-anchor="middle" transform="translate(-83,-277)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(140, 109, 49);">Fear</text><text
                text-anchor="middle" transform="translate(429,-227)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(189, 158, 57);">Shot</text><text
                text-anchor="middle" transform="translate(-294,272)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(231, 186, 82);">Dark</text><text
                text-anchor="middle" transform="translate(-353,-264)rotate(30)" style="font-size: 26px; font-family: Impact; fill: rgb(231, 203, 148);">Sister</text><text
                text-anchor="middle" transform="translate(431,-133)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(132, 60, 57);">City</text><text
                text-anchor="middle" transform="translate(428,88)rotate(-30)" style="font-size: 26px; font-family: Impact; fill: rgb(173, 73, 74);">Bus</text><text
                text-anchor="middle" transform="translate(-125,24)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(214, 97, 107);">Kill</text><text
                text-anchor="middle" transform="translate(265,-273)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(231, 150, 156);">Sky</text><text
                text-anchor="middle" transform="translate(167,-234)rotate(60)" style="font-size: 26px; font-family: Impact; fill: rgb(123, 65, 115);">Tis</text><text
                text-anchor="middle" transform="translate(-447,-67)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(165, 81, 148);">See</text><text
                text-anchor="middle" transform="translate(-429,2)rotate(-60)" style="font-size: 26px; font-family: Impact; fill: rgb(206, 109, 189);">Son</text><text
                text-anchor="middle" transform="translate(1,246)rotate(0)" style="font-size: 26px; font-family: Impact; fill: rgb(222, 158, 214);">Hat</text><text
                text-anchor="middle" transform="translate(260,-84)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);">3</text><text
                text-anchor="middle" transform="translate(93,58)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);">24</text><text
                text-anchor="middle" transform="translate(29,142)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);">30</text><text
                text-anchor="middle" transform="translate(-74,100)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);">42</text><text
                text-anchor="middle" transform="translate(-1,52)rotate(60)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);">500</text><text
                text-anchor="middle" transform="translate(-159,93)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);">3015</text><text
                text-anchor="middle" transform="translate(186,125)rotate(60)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);">3016</text><text
                text-anchor="middle" transform="translate(-69,112)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);">3017</text><text
                text-anchor="middle" transform="translate(-38,-125)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);">3018</text><text
                text-anchor="middle" transform="translate(71,25)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);">3019</text><text
                text-anchor="middle" transform="translate(109,-187)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);">3022</text><text
                text-anchor="middle" transform="translate(88,44)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);">Doh</text><text
                text-anchor="middle" transform="translate(134,-182)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);">Roasting</text><text
                text-anchor="middle" transform="translate(-135,-108)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);">Fire</text><text
                text-anchor="middle" transform="translate(-20,21)rotate(60)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);">Genius</text><text
                text-anchor="middle" transform="translate(-438,95)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);">Odyssey</text><text
                text-anchor="middle" transform="translate(-77,-108)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);">Disgrace</text><text
                text-anchor="middle" transform="translate(353,121)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);">General</text><text
                text-anchor="middle" transform="translate(-213,-17)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);">Moaning</text><text
                text-anchor="middle" transform="translate(-5,106)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);">Call</text><text
                text-anchor="middle" transform="translate(69,7)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);">Telltale</text><text
                text-anchor="middle" transform="translate(-50,-62)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);">Head</text><text
                text-anchor="middle" transform="translate(-200,73)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);">Night</text><text
                text-anchor="middle" transform="translate(-286,-89)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);">Crepes</text><text
                text-anchor="middle" transform="translate(-258,154)rotate(30)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);">Wrath</text><text
                text-anchor="middle" transform="translate(109,203)rotate(-30)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);">Busted</text><text
                text-anchor="middle" transform="translate(-381,123)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);">Enchanted</text><text
                text-anchor="middle" transform="translate(447,-11)rotate(-60)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);">Evening</text></g>
          </svg>
          </br>
        </div>
      </div>
      </br>
      <br>

      <!-- Zombie Rick and Morty -->
      <div class="row ">
        <div class="col-md-12">
          <H4>Rick and Morty Mania</H4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <p>The mid 90s marked the height of popularity for the Simpsons. User ratings and number of votes show a
            clear peak during these years. While many fans refer to more redent episodes as "Zombie Simpsons". Gone is
            the sharply timed, layered humor and poignant social commentary. Filmmaker John Walsh cited a changing
            writing staff as a large contributing factor for the decline in quality.
          </p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="featured-rick-1"></div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <br>
          <p>
            Comparing the Simpsons to its main competitors, South Park and Family guy, a similar trend can be seen in
            ratings. Though the drop is not as sharp as the Simpsons' Season 8. All of these series were successful
            in part because they pushed boundaries. And all of them have waned or declined in popularity after several
            years.
          </p>
          <p>
            A more modern example would be the enormously popular Rick and Morty. As of this writing, the show is due
            to
            be renewed for its fourth season and more. Adult Swim has ordered 70 new episodes from its creators. Though
            it's impossible to predict how long or how successful a run the series will have, it's safe to say that
            Rick
            and Morty mania won't last forever.
          </p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="featured-rick-2"></div>
        </div>
      </div>
      <br>

      <!-- Life of Brian -->
      <div class="row ">
        <div class="col-md-12">
          <H4>An Outlier in Family Guy Ratings</H4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <p>"Life of Brian" is Family Guy's lowest IMDB user-rated episode. It is the sixth episode of the twelfth
            season and originally aired November 24, 2013. Though generally well received by critics, the
            episode generated a severe backlash from fans. It featured some touching moments where the beloved
            Brian is killed and the rest of the family is forced to hold a tearful funeral. Fans responded by starting
            a
            petition on
            <a href="https://www.change.org/p/seth-macfarlane-and-fox-broadcasting-company-bring-brian-griffin-back-to-family-guy">Change.org</a>
            to have the character revived. The petition succeeded and two episodes later, Brian is rescued from death
            by Stewie using a time machine in "Christmas Guy".</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="featured-brian"></div>
        </div>
      </div>
      <br>


      <!-- Time Line -->
      <div class="row ">
        <div class="col-md-12">
          <H4>Timeline Comparison</H4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <p>The Simpsons is the longest running series of those selected with 30 seasons. It's also worth noting that
            some of these lengths are deceptive. For example, Beavis and Butthead originally ran for seven seasons from
            1993 to 1997 and was revived for an eighth season which ran in 2011.
          </p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="timeline" style="height: 900px;"></div>
        </div>
      </div>
      <!--------------------------------------------------------->

      <!-- Footer for the page -->
      <footer>
        <!-- Copyright -->
        <p>
          Project 3 | <i class="far fa-copyright"></i> Copyright 2019: Team I don't want no Data Scrub
        </p>
      </footer>
      <!--################## All the javascripts used for this page ####################### -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="../static/js/featured_plot1.js"></script>
      <script type="text/javascript" src="../static/js/featured_plot2.js"></script>
      <script type="text/javascript" src="../static/js/time.js"></script>
      <!-- End of the scripts -->
</body>

</html>
<!------------ End of HTML ---------------->