<!-- Project 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- All meta tags should be first in the header-->
  <meta charset="UTF-8">
  <title>Project 3</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- Bootstrap links -->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="../static/css/bootstrap_simplex.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <!--The following uses data URI and can be used to avoid fake favicon requests:-->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <!-- css Style Scripts <link rel="stylesheet" href="../static/css/d3Style.css">-->
  <link rel="stylesheet" href="../static/css/style.css?v=01252019">


</head>

<body>

  <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="../static/images/tv.png" class="img-responsive nav_images" ml-auto onmouseover="this.src ='../static/images/tv1.png'"
        onmouseout="this.src = '../static/images/tv.png'" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/featured">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/API">API</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="wrapper">
    <div class="container margin-top-30">
      <!-- main body -->
      <H1>Featured</H1>
      <p>Below are some of our favorite views of the main dashboard page.</p>

      <!-- Zombie Rick and Morty??? -->
      <div class="row ">
        <div class="col-md-12">
          <H4>The Simpsons Competitors</H4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <p>Aenean ut mi lectus. Cras eu dapibus mi. Pellentesque rhoncus, metus vitae rhoncus interdum, diam nunc
            iaculis arcu, facilisis dapibus dui orci ac tortor. Pellentesque luctus tincidunt molestie. Sed augue mi,
            convallis quis elit eu, rutrum blandit orci. Donec ornare enim et commodo aliquet. Sed a tortor ut eros
            sagittis ornare vel in mauris. Integer ac feugiat orci. Fusce sed dui at neque consequat dapibus.</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="featured-rick-1"></div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="featured-rick-2"></div>
        </div>
      </div>

      <!-- Life of Brian -->
      <div class="row ">
        <div class="col-md-12">
          <H4>An Outlier in Episode Ratings</H4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <p>"Life of Brian" is Family Guy's lowest IMDB user-rated episode. It is the sixth episode of the twelfth
            season and originally aired November 24, 2013. Though generally well received by critics, the
            episode generated a severe backlash from fans. It featured some touching moments where the beloved
            Brian is killed and the rest of the family is forced to hold a tearful funeral. Fans responded by starting
            a
            petition on
            <a href="https://www.change.org/p/seth-macfarlane-and-fox-broadcasting-company-bring-brian-griffin-back-to-family-guy">Change.org</a>
            to have the character revived. The petition succeeded and two episodes later, Brian is rescued from death
            by Stewie
            using a time machine in "Christmas Guy".</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div id="featured-brian"></div>
        </div>
      </div>
    </div>
    </br>
    <footer>
      <p>
        Project 3 | <i class="far fa-copyright"></i> Copyright 2019:
      </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/featured_plot1.js"></script>
    <script type="text/javascript" src="../static/js/featured_plot2.js"></script>

</body>

</html>
<!------------ End of HTML ---------------->